/**  **/
/** body conteneur site **/
body {
  width: 90vw;
  margin-left: 5vw;
  margin-right: 5vw;
  background-color: white;
  border: solid 1px white;
  border-radius: 10px;
}
main #colo {
  background-color: rgb(218, 218, 218);
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  padding: 25px;
  border: solid 1px white;
  border-radius: 10px;
  grid-area: main;
}
main {
  margin: 0 auto;
  width: 80vw;
  height: 80vh;
  padding: 25px;
  border: solid 1px white;
  border-radius: 10px;
}
main div img {
  width: 70vw;

  margin: 0 auto;
  display: block;
}
#txt {
  font-family: Andale Mono, monospace;
  font-size: 24px;

  text-align: center;
}
.orange {
  color: #e67e22;
}
/** menu **/
.menu-4 {
  text-align: center;
  text-transform: uppercase;
  font-weight: 500;
}
.menu-4 * {
  box-sizing: border-box;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 li {
  display: inline-block;
  list-style: outside none none;
  margin: 0 1.5em;
  overflow: hidden;
}
.menu-4 a {
  padding: 0.3em 0;
  color: #212121;
  position: relative;
  display: inline-block;
  letter-spacing: 1px;
  margin: 0;
  text-decoration: none;
}
.menu-4 a:before,
.menu-4 a:after {
  position: absolute;
  -webkit-transition: all 0.35s ease;
  transition: all 0.35s ease;
}
.menu-4 a:before {
  bottom: 100%;
  display: block;
  height: 3px;
  width: 100%;
  content: "";
  background-color: #e67e22;
}
.menu-4 a:after {
  padding: 0.3em 0;
  position: absolute;
  bottom: 100%;
  left: 0;
  content: attr(data-hover);
  color: #212121;
  white-space: nowrap;
}
.menu-4 li:hover a,
.menu-4 .current a {
  transform: translateY(100%);
}
.menu img {
  width: 119px;
  height: 119px;
}
/** Form **/
label {
  width: 200px;
  height: 30px;
  text-align: right;
}
input {
  width: 400px;
  height: 30px;
}
textarea {
  width: 400px;
  height: 80px;
}
div input {
  height: 50px;
  border-radius: 20px;
  width: 300px;
  font-size: 20px;
  text-align: center;
}
form {
  text-align: center;
  font-size: 20px;
}
.nom,
.email,
.msg,
.envoi {
  margin: 20px;
}
label {
  display: inline-block;
  width: 100px;
  height: 2em;
  line-height: 2em;
  font-size: 1.2em;
}

.msg label {
  float: left;
}

.msg textarea {
  height: 80px;
  width: 400px;
  resize: none;
}

.envoi input {
  display: block;
  width: 300px;
  height: 50px;
  font-size: 1.2em;
}
/** liens **/
#conteneurliens {
  width: 80vw;
}
#conteneurliens h2 {
  margin: 0;
  color: aliceblue;
}
#liens {
  padding: 15px;
  margin: 15px auto;
  width: 75vw;
  background-color: /**#36688d**/ #e67e22;
  border-radius: 10px;
}
#liens img {
  width: 80px;
  margin-left: 15px;
}

/** page tutoriel**/
#tutoriel {
  font-family: Andale Mono, monospace;
  width: 75vw;
  margin: 0 auto;
  padding-top: 10vh;
}
#tutoriel h3 {
  font-family: Andale Mono, monospace;
  text-decoration: underline;
  text-decoration-color: #e67e22;
}
@media screen and (max-width: 1023px) {
  #logo {
    display: none;
  }
}
